@import './Shared/colors';

.base {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: {
    left: -.5rem;
    right: -.5rem;
  }
  padding: 0;
}

.item {
  composes: depth from './Shared/depth.scss';
  flex: 1 1 calc(5rem + 15%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 .5rem 1rem;
  background: white;

  &:hover {
    @extend %card-hover;
  }
}

.media {
  align-self: flex-start;
  width: 100%;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    transition: transform 200ms ease-out;

    %card-hover & {
      transform: scale(1.1);
    }
  }
}

.category {
  margin: .5rem;
  padding: .125rem;
  font-size: .75rem;
  border-radius: .25rem;
  border: thin solid $monochrome--dark;
  background: $monochrome;
}

.description {
  flex: 1 0 10rem;
  max-width: 100%;
  padding: .5rem;
  font-weight: bold;
}

.price {
  composes: currency from './Shared/currency.scss';
  margin: .5rem;
}

.addtocart {
  align-self: flex-end;
  width: 100%;
  padding: 1rem;
  color: white;
  background: $secondary;
  transition: background 200ms ease-out;

  &:hover,
  &:focus {
    background: $secondary--dark;
  }
}
