@import './Shared/colors';

.base {
  composes: depth from './Shared/depth.scss';
  position: absolute;
  right: 0;
  width: 100vw;
  max-width: 20rem;
  line-height: 2rem;
  color: black;
  background: $monochrome;
}

.items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  justify-content: center;
  padding: .5rem;
}

.description {
  flex: 1;
}

.quantity {
  margin: 0 .5rem;
}

.decrease,
.increase {
  width: 2rem;
  text-align: center;
  color: white;
  background: $secondary;
  border-radius: .25rem;
  transition: background 200ms ease-out;

  &:hover,
  &:focus {
    background: $secondary--dark;
  }
}

.total {
  composes: currency from './Shared/currency.scss';
  display: block;
  padding: .5rem;
  text-align: right;
  color: white;
  background: $primary;
}
